.weather-app-wrapper {
  max-width: 700px;
  margin: 80px auto;
}
.weather-app {
  margin: 30px auto;
  padding: 50px;
  border: 2px solid #9cbce5;
  border-radius: 5px;
}

.degree {
  font-size: 40px;
  font-weight: 800;
  margin-top: 15px
}

a:hover {
  text-decoration: none;
}

.humidity-wind {
  margin-top: 15px;
  text-align: center;
}

form {
  text-align: right;
   margin-bottom: 20px;
}